.card-de-produto{
    background-color: #859ab2;
    width: fit-content;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    margin:  15px;
}

.promo-span{
    color: rgb(212, 41, 41);
    background-color: #859ab2;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

body{
    display: flex;
    height: auto;
    font-family: 'Roboto', sans-serif;
}